/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-palette: mat.define-palette(mat.$pink-palette);
$accent-palette: mat.define-palette(mat.$blue-palette);

.weak {
    color: mat.get-color-from-palette($primary-palette, 500, .25);
}

// define colors
$colors: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
@each $color in $colors {
    .primary-#{$color} {
        color: mat.get-color-from-palette($primary-palette, $color);
    }
    .accent-#{$color} {
        color: mat.get-color-from-palette($accent-palette, $color);
    }
}

// an array of pixels
$pixels: 5px, 10px, 20px, 50px, 100px, 200px;

@each $pixel in $pixels {
    .padding-#{$pixel} {
        padding: $pixel;
    }
}

$magnification: (
    x1: 1, 
    x2: 2, 
    x3: 3, 
    x4: 4, 
    x5: 5
);

@each $name, $time in $magnification {
    .magnification-#{$name} {
        transform: scale($time);
    };
}

.wiggle {
    // whiggle for 0.5 seconds
    animation: shake 0.5s;

    // once animation finishes, start again
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}