# See http://help.github.com/ignore-files/ for more about ignoring files.

# ignore any node_modules directory (both client and server)
node_modules

# server
/server/.env

# client
# Compiled output
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out

# Node
/client/npm-debug.log
/client/yarn-error.log

# IDEs and editors
/client/.idea/
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace

# Visual Studio Code
/client/.vscode/*
!/client/.vscode/settings.json
!/client/.vscode/tasks.json
!/client/.vscode/launch.json
!/client/.vscode/extensions.json
/client/.history/*

# Miscellaneous
/client/.angular/cache
/client/.sass-cache/
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/client/testem.log
/client/typings

# System files
/client/.DS_Store
/client/Thumbs.db
